{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">
                <section class="galeria">
                    <div class="cards">
                        <h2 class="cards__titulo">Listagem de Usuários</h2>
                        <ul class="cards__lista">
                            {% if cards %}
                            {% for item in cards %}
                            <li class="card">
                                <div class="card__info">
                                    <p class="card__titulo">{{ item.nome }}</p>
                                    <p class="card__titulo">{{ item.cpf }}</p>
                                    <p class="card__titulo">{{ item.login }}</p>
                                    <p class="card__titulo">
                                        <div>
                                            <button class="btn btn-success col-12" style="padding: top 5px;">Editar</button>
                                        </div>
                                        <div>
                                            <button class="btn btn-success col-12" style="padding: top 5px;">Excluir</button>
                                        </div>
                                    </p>
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                            {% endif %}
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}
